html {
    font-family: "Kiwi Maru", "Times", "Serif";
}

.background{
    width: 100%;
    height: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.form-box{
    height: 550px;
    width: 500px;
    padding: 20px;
    margin: 6% auto;
    background-color:wheat;
}

.input-field{
    width: 100%;
    margin-top: 10px;
    border: 1px solid;
    outline: none;
}

.name-field{
    width: 49.5%;
    border: 1px solid;
    outline: none;
}

.check-box{
    margin: 10px;
    cursor: pointer;
}

.span{
    font-family: sans-serif;
}

.sumbit-button{
    width: 80%;
    padding: 10px 30px;
    background-color: tomato;
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    margin: auto;
    margin-top: 30px;
}

.sumbit-button:hover{
    background-color: rgb(255, 112, 87);
}

.password-box{
    height: 400px;
    width: 500px;
    padding: 20px;
    margin: 6% auto;
    background-color:wheat;
}

.inputpassword{
    padding: 10px 30px 30px 30px;
    text-align: center;
    margin-top: 100px
}

.newpassword{
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid;
    outline: none;
}

.reset{
    width: 80%;
    padding: 10px 30px;
    background-color: rgb(196, 48, 48);
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    margin: auto;
    margin-top: 20px;
}

.reset:hover{
    background-color: rgb(209, 77, 77);
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
}


nav .navi{
	display: flex;
}

.header{
    padding: none;
    height: 10%;
    position: fixed;
    width: 100%;
    top: 0;
    margin: none;
    float: left;
}

.footer{
    height: 10%;
    clear: both;
}
#left {
    margin-top: 4%;
    background-color: pink;
    width: 50%;
    float: left;
    height: 80%;
}
#right {
    margin-top: 4%;
    background-color: powderblue;
    width: 50%;
    float: left;
    height: 80%;
}

.storehome{
    padding: 0px;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border: 1px solid rgb(255,51,153);
	background-color: rgb(255,51,153);
}

.navi li a{
    height: 30px;
	margin: 0px;
	padding: 0px 18px;
	display: flex;
	font-size: 1rem;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1.5px;
}	

.navi li a:hover{
	color: rgb(255,51,153);
	background-color: #ffffff;
}

/* Browse Product*/
.dropbutton {
	background-color: rgb(255,51,153);
	height: 30px;
	margin: 0px;
	padding: 0px 18px;
	display: flex;
    font-family: "Kiwi Maru", "Times", "Serif";
	font-size: 1rem;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1.5px;
	border: none;
	cursor: pointer;
}

.browse-product {
	position: relative;
	display: inline-block;
}

.dropdown-product-content {
	display: none;
	position: absolute;
	background-color: rgb(255,51,153);
	min-width: 410px;
	box-shadow: 0px 10px 20px 0px rgb(27, 26, 26);
	z-index: 1;
}

.dropdown-product-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.dropdown-product-content a:hover {background-color: rgb(255, 78, 166) }
  
.browse-product:hover .dropdown-product-content {
	display: block;
}
  

/* Headings */
.ps-heading h2 {
	font-weight: 800;
	font-size: 2rem;
	padding-left: 18px;
}

.ps-heading h3 {
	font-weight: 800;
	font-size: 1.8rem;
	padding-left: 18px;
}

.ps-heading h4 {
	font-weight: 800;
	font-size: 1.8rem;
	padding-left: 18px;
}

/* Dropdown Select*/

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: lightpink;
	background-image: none;
}
select::-ms-expand {
	display: none;
}

select {
	flex: 1;
	padding: 0 .5em;
	font-weight: 400;
	font-size: 1rem;
	cursor: pointer;
}
.category-select {
	position: relative;
	display: flex;
	height: 3em;
	width: 20em;
	line-height: 3;
	background: rgb(255,51,153);
	overflow: hidden;
	border-radius: .25em;
	left: 45%;
  }

.category-select::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: rgb(255,51,153);
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: .5s ;
	-o-transition: .5s;
	transition: .5s;
  }

  .category-select:hover::after {
	color: lightpink;
  }
