html {
    font-family: "Kiwi Maru", "Times", "Serif";
}
body{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, san-serif;
	background-color:white;
	min-height: 100vh;
}
*{
	box-sizing: border-box;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.background{
    width: 100%;
    height: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.form-box{
    height: 550px;
    width: 500px;
    padding: 20px;
    margin: 6% auto;
    background-color:wheat;
}

.input-field{
    width: 100%;
    margin-top: 10px;
    border: 1px solid;
    outline: none;
}

.name-field{
    width: 49.5%;
    border: 1px solid;
    outline: none;
}

.check-box{
    margin: 10px;
    cursor: pointer;
}

.span{
    font-family: sans-serif;
}

.sumbit-button{
    width: 80%;
    padding: 10px 30px;
    background-color: tomato;
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    margin: auto;
    margin-top: 30px;
}

.sumbit-button:hover{
    background-color: rgb(255, 112, 87);
}

.password-box{
    height: 400px;
    width: 500px;
    padding: 20px;
    margin: 6% auto;
    background-color:wheat;
}

.inputpassword{
    padding: 10px 30px 30px 30px;
    text-align: center;
    margin-top: 100px
}

.newpassword{
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid;
    outline: none;
}

.reset{
    width: 80%;
    padding: 10px 30px;
    background-color: rgb(196, 48, 48);
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    margin: auto;
    margin-top: 20px;
}

.reset:hover{
    background-color: rgb(209, 77, 77);
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
}

a h1{
	font-weight: 800;
	font-size: 2rem;
	color: white;
	margin-left: 105px;
}
#left {
    margin-top: 4%;
    background-color: pink;
    width: 50%;
    float: left;
    height: auto;
}
#right {
    margin-top: 4%;
    background-color: powderblue;
    width: 50%;
    float: left;
    height: auto;
}

.storehome{
    padding: 0px;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border: 1px solid rgb(255,51,153);
	background-color: rgb(255,51,153);
}
nav .navi{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
nav .navi li a{
	height: 40px;
	line-height: 43px;
	margin: 0px;
	padding: 0px 18px;
	display: flex;
	font-size: 1rem;
	font-weight: 550;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1.5px;
}

.navi li a:hover{
	color: rgb(255,51,153);
	background-color: #ffffff;
}
.footer{
	position: sticky;
	top: 100%;
	left: 0;
	bottom: 0;
	width: 100%;
}
footer .nav-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	width: 100%;
	height: auto;
	border: 1px solid rgb(255,51,153);
	background-color: rgb(255,51,153);
}
nav .list-footer{
	display:flex;
}
nav .list-footer li a{
	height: 40px;
	line-height: 43px;
	margin: 0px;
	padding: 0px 18px;
	display: flex;
	font-size: 1rem;
	font-weight: 550;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 1.5px;
}
.footer li a:hover{
	color: rgb(255,51,153);
	background-color: #ffffff;
}

/* Browse Product*/
/* drop down button*/
.dropbtn {
	background-color: rgb(255,51,153);
	height: 40px;
	line-height: 43px;
	margin: 0px;
	padding: 0px 18px;
	display: flex;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 550;
	color: white;
	letter-spacing: 1.5px;
	border: none;
	cursor: pointer;
}
/* drop down*/
.browse-store {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(255,51,153);
	min-height: 160px;
	min-width: 350px;
	box-shadow: 0px 10px 20px 0px darkgrey;
	z-index: 1;
  }
  
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	height:auto;
	background-color: #ffffff;
	color: rgb(255,51,153);		
}
  
.browse-store:hover .dropdown-content {
	display: block;
}
  
.dropdown:hover .dropbtn {
	background-color: #ffffff;
	color: rgb(255,51,153);
}
  

/* Headings */
.ps-heading h2 {
	font-weight: 800;
	font-size: 2rem;
	padding-left: 18px;
}

.ps-heading h3 {
	font-weight: 800;
	font-size: 1.8rem;
	padding-left: 18px;
}

.ps-heading h4 {
	font-weight: 800;
	font-size: 1.8rem;
	padding-left: 18px;
}
/* media */
.menu-icon{
	cursor: pointer;
	font-size: 30px;
	color: #ffffff;
	float: left;
	line-height: 80px;
	margin-right: 40px;
	display: none;
}
#menu-btn{
	display: none;
}
@media(min-width: 768px) and (max-width: 1023px){
	.menu-icon{
		display: block;
	}
	.navi{
		position: absolute;
		width: 100%;
		height: 100vh;
		background: rgb(255,51,153);
		top: 80px;
		left: -100%;
		text-align: center;
		flex-direction: column;
		z-index: 100;
	}
	nav .navi li{
		display: block;
		margin: 50px 0px;
	}
	nav .navi li a{
		display: flex;
		font-size: 20px;
		align-items: center;
		justify-content: center;
	}
	#menu-btn:checked~ul{
		left: 0;
	}
	nav .list-footer{
		display: flex;
		flex-direction: column;
		padding-right: 65px;
	}
	nav .list-footer li a{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 15px;
	}
	main{
		width: 96%;
		justify-content: center;
	}
	.ps-heading{
		text-align: center;
		align-items: center;
		justify-content: center;
		margin-top: 100px;
	}
	.mainlogo{
		width: 95%;
	}
	nav .mainlogo{
		text-align: center;
		justify-content: center;
		align-items: center;
	}
}
	
@media screen and (max-width: 767px){
	.menu-icon{
			display: block;
		}
	.navi{
		position: absolute;
		width: 100%;
		height: 100vh;
		background: rgb(255,51,153);
		top: 80px;
		left: -100%;
		text-align: center;
		flex-direction: column;
		z-index: 100;
	}
	nav .navi li{
		display: block;
	}
	nav .navi li a{
		display: flex;
		font-size: 20px;
		align-items: center;
		justify-content: center;
	}
	#menu-btn:checked~ul{
		left: 0;
	}
	nav .list-footer{
		display: flex;
		flex-direction: column;
		padding-right: 40px;
	}
	nav .list-footer li a{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: left;
		margin-top: 15px;
	}
	.ps-heading{
		text-align: center;
		align-items: center;
		justify-content: center;
		margin-top: 100px;
	}
	.mainlogo{
		width: 95%;
	}
	nav .mainlogo{
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.ps-heading{
		text-align: center;
		align-items: center;
		justify-content: center;
		margin-top: 100px;
	}
}
@media screen and (min-width: 1024px){
		main{
			width: 100%;
			justify-content: center;
		}
}

/* Dropdown Select*/

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: lightpink;
	background-image: none;
}
select::-ms-expand {
	display: none;
}

select {
	flex: 1;
	padding: 0 .5em;
	font-weight: 400;
	font-size: 1rem;
	cursor: pointer;
}
.category-select {
	position: relative;
	display: flex;
	height: 3em;
	width: 20em;
	line-height: 3;
	background: rgb(255,51,153);
	overflow: hidden;
	border-radius: .25em;
	left: 45%;
  }

.category-select::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: rgb(255,51,153);
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: .5s ;
	-o-transition: .5s;
	transition: .5s;
  }

  .category-select:hover::after {
	color: lightpink;
  }